#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    height: 100%;
    font-weight: normal;
}
  
button {
    cursor: pointer;
}

input, textarea{
    background-color: var(--color-background);
    border-color: var(--color-background-soft);
    border-radius: 10px;
    resize: none;
    color: white;
    user-select: text;
    border-style: none;
}

a {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

body {
    display: flex;
    place-items: center;
}

#__nuxt {
    display: grid;
    width: 100vw;
    height: 100vh;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;
    --vt-c-black-light: #323232;

    --vt-c-indigo: #2c3e50;
  
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}
  
  /* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-light: var(--vt-c-black-light);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  
    --section-gap: 160px;

    --color-btn-create: green;
    --color-btn-create-hover: rgb(0, 187, 0);
    --color-btn-danger: rgb(237, 32, 32);
    --color-btn-danger-hover: rgb(245, 52, 52);

    --color-card-primary: rgb(82, 82, 82);
    --color-card-title: rgb(214, 214, 214);
    --color-card-description: rgb(159, 158, 158);

    /* ---------- Start Theme ---------- */
    /* Cards */
    --color-card-is-subcard: gray;
    --color-card-assinging-to: rgb(54, 54, 54);
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}
  
body {
    user-select: none;
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
      color 0.5s,
      background-color 0.5s;
    line-height: 1.6;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  